<!DOCTYPE html>
<html>
<head>
  <title>Triangle Tracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h4>Triangle or Not: <%= @triangle.complete() %></h4>

    <a href="/">Return to main page</a>
  </div>
</body>
</html>
